@{
    ViewBag.Title = "About Us";
    ViewBag.Canonical = "https://www.music4dance.net";
    ViewBag.Description = "About the creators of music4dance.net";
}

<div class="row">
    <div class="col-md-6">
        <h1>David</h1>
        <p class="neutral">I’m an amateur dancer and with some training in music who also happens to be a professional software engineer.  I love dancing, and I particularly love dancing when I enjoy the music that I’m dancing to. I’m hoping to build some community around this idea since music and dance are both so personal that multiple viewpoints early will be essential to any kind of success in this area.</p>
        <p class="neutral">My dance background is primarily in Ballroom (I’ve been an amateur competitor in the American Rhythm styles), has moved more towards social partner dancing  and I have just taken an interest in tap.  So I’m going to start from what I know, but part of the point of building some community is to enlist experts in kinds of dance that I don’t know (or know as well) to help me broaden my scope.</p>
        <p class="neutral">The core of my initial idea is that I would like to be able to generate a playlist of songs to dance a slow salsa or fast West Coast Swing or a Viennese Waltz to. I’d like to do this against my own library or against one of a multitude of streaming and mp3 purchase services. The first baby step for that is the songs section of this website, where I’ve pulled together a bunch of that information from a number of different sources, merged and edited, so that I’ve got at least a start of a database of song title/artist/albums associated with various dances. In the long run I would like this to be both crowd sourced and linked to actual music.</p>
        <p class="neutral"><a href="~/Content/DavidGray-Resume.pdf">David's Resume</a></p>
    </div>
    <div class="col-md-6">
        <h1>Amanda</h1>
        <p class="neutral">I joined Music4Dance soon after the site was up and about to release its beta test for its first round of registered users.</p>
        <p class="neutral"> I studied Biology in school and started getting interested in programing post college even before I joined David on this project. David has been kind enough to let me help out with the site and the design process in creating it.</p>
        <p class="neutral">I also have a background in dance. I danced throughout high school and college doing Jazz, Ballet, Modern, and even some Balinese dance. I have on occasion gone to Salsa and Swing nights, and have been to a Waltz or two.</p>
    </div>
</div>