@{
    ViewBag.Title = "About music4Dance";
    ViewBag.Description = "About the music4dance project an it's creator";
}

<div id="app"></div>

@section Scripts {
    <partial name="_environmentWriter"/>
    <script asp-src-include="/client/js/chunk-vendors.*.js"></script>
    <script asp-src-include="/client/js/chunk-common.*.js"></script>
    <script asp-src-include="/client/js/about.*.js"></script>
}