@{
    ViewBag.Title = "Contribute";
}
<H1>Contribute to music4dance.net</H1>

<h2>Purchase a Subscription</h2>
<p class="big-text">
    We appreciate any amount that you're willing to contribute to the music4dance effort.  Any contribution of $10 or more contributes to a year of our "premium" subscription, which gives you an ad-free experience.
</p>


@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("Purchase", "Home", FormMethod.Post, new { id = "purchase", @class = "form-inline" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="kind" value="Purchase" />

        <div class="form-group">
            <label for="purchase-amount">Amount:</label>
            $<input type="number" name="amount" min="10" max="9999" step="0.01" value="10.00" class="form-control" id="purchase-amount" />
            <button type="submit" class="btn btn-default">Purchase Subscription</button>
        </div>
    }
}
else
{
    <p class="big-text">You must be logged in to purchase a subscription, please @Html.ActionLink("Sign In", "signin", "account", new { ReturnUrl = Request?.Url?.AbsoluteUri }, null) or @Html.ActionLink("Sign Up", "signup", "account", new { ReturnUrl = Request?.Url?.AbsoluteUri }, null) .</p>
    <p class="big-text">If you would like to donate without creating an account, please choose donate below.</p>
}

<h2>Donate</h2>
@using (Html.BeginForm("Purchase", "Home", FormMethod.Post, new { id = "contribute", @class = "form-inline" }))
{
    @Html.AntiForgeryToken()

    <input type="hidden" name="kind" value="Donation" />
    <div class="form-group">
        <label for="purchase-amount">Amount:</label>
        $<input type="text" name="amount" min="0" max="9999" step="0.01" value="5.00" class="form-control" id="donate-amount" />
        <button type="submit" class="btn btn-default">Donate</button>
    </div>
}

<h2>Other ways to help</h2>

If you're not ready to help out monetarily, there are many ways that you can support music4dance.net
<ul>
    <li>Vote on the dancability of songs and tag songs</li>
    <li>Sign up for our beta and add your own songs songs</li>
    <li>Tell your friends or add links to music4dance.net from your own sites</li>
    <li>Give us feedback</li>
    <li>Purchase music in iTunes or Amazon via our referal links.</li>
</ul>



