@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    500 Yale Avenue North
    Seattle, WA 98109
</address>

<address>
    <strong>Support:</strong><a href="mailto:david@music4dance.net">info@music4dance.net</a><br />
</address>