@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dance Counter Help</h1>
<p>Choose BPM, 2/4, 3/4 or 4/4 meter</p>
<p>Click the Count button once per beat for BPM or once per measure for the metered timings.  Or type in a tempo to the left of the meter dropdown.</p>
<p>You should see a list of which partner dances can be danced to that tempo.</p>
<p><small>Note: The new implementation will show all dances that can be danced at a particular tempo for BPM and shows both 2/4 and 4/4 dances when either is selected.</small></p>

<h2>Why don't I see any dances?</h2>
<ul>
    <li>Does the text under the "Count" button read 0.0? Then you haven't given a tempo, you do this by counting out the song (using the count button) or typing in a tempo (using the text input to the left of the tempo dropdown)</li>
    <li>Otherwise you might just have chosen a tempo that isn't an exact match.  Try sliding the control at the bottom of the page further right (towards more) to see what dances might be just out of 'exact' range.</li>
</ul>

