@using m4d.ViewModels
@{
    ViewBag.Title = "Credits";
    ViewBag.Description = "music4dance credits page";

    ViewBag.BreadCrumbs = BreadCrumbItem.BuildInfoTrail(ViewBag.Title);
}

<h1>@ViewBag.Title</h1>

<h2>Code and Libraries</h2>

<p>Music4dance.net is built with <a href="http://www.asp.net/mvc">asp.net mvc core</a> using <a href="http://getbootstrap.com/">Twitter Bootstrap</a> and <a href="https://bootstrap-vue.org/">Bootstrap Vue</a> for the presentation layer, <a href="http://azure.microsoft.com/en-us/services/sql-database/">SQL Azure</a> and <a href="http://www.asp.net/entity-framework">Entity Framework</a> for the database and <a href="https://vuejs.org/">vue.js</a>, and <a href="http://jquery.com/">jQuery</a> as the primary front end libraries.</p>
<p>The site uses <a href="https://docs.microsoft.com/en-us/azure/search/search-what-is-azure-search">Azure Cognitive Search</a> for managing and searching the core music database.</p>
<p>The site is hosted on <a href="http://azure.microsoft.com">Microsoft Azure</a>.</p>
<p>The <a href="https://cookieconsent.insites.com">cookie consent control</a> was created by <a href="https://insites.com">silktide insites</a></p>
<p>The <a href="https://browser-update.org/update-browser.html#3">browser update notification</a> is supplied by <a href="https://browser-update.org/">browser-update.org</a></p>

<h2>Design</h2>

<p>The music4dance logo and assistance with some colors and other design components was provided by Polly Payne of <a href="http://www.delacatadesign.com/">Delacata Design</a>.</p>

<p>The dancer silhouettes were created by Dmitry Skvorcov: © <a href="http://www.dreamstime.com/dmiskv_info#res10177599">Dmiskv</a> | <a href="http://www.dreamstime.com/#res10177599">Dreamstime.com</a> - <a href="http://www.dreamstime.com/royalty-free-stock-photography-silhouettes-pairs-dancing-image13114167#res10177599">Silhouettes Of The Pairs Dancing Photo</a></p>

<p>Most of the icons on the site are from the <a href="https://icons.getbootstrap.com/">Bootstrap Icons library</a>.</p>

<p>The specific tag icons (shoes, note, drum, and tag) are from <a href="https://icons8.com/">icons8.com</a></p>

<h2>Dance</h2>

<p>Much deep knowledge of Ballroom Dancing and how music relates to partner dancing has been provided over the years by Rhett Powers and Shona Baily of <a href="https://www.linkedin.com/in/powersballroomstudio/">Powers Ballroom Studio.</a></p>