@using m4d.ViewModels
@{
    ViewBag.Title = "Credits";
ViewBag.Description = "music4dance credits page";

ViewBag.BreadCrumbs = BreadCrumbItem.BuildInfoTrail(ViewBag.Title);
}

<h1>@ViewBag.Title</h1>

<h2>Code and Libraries</h2>

<ul>
    <li>Music4dance.net is built with <a href="http://www.asp.net/mvc" target="_blank">asp.net mvc core</a> using <a href="https://vuejs.org/" target="_blank">vue.js</a>, <a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a> and <a href="https://bootstrap-vue.org/" target="_blank">Bootstrap Vue</a> for the presentation layer, <a href="http://azure.microsoft.com/en-us/services/sql-database/" target="_blank">SQL Azure</a> and <a href="http://www.asp.net/entity-framework" target="_blank">Entity Framework</a> for the database.
        <ul>
            <li class="text-danger" target="_blank">NOTE: We're currently migrating from vue.js 2.0 to vue.js 3.0 and <a href="https://bootstrap-vue.org/" target="_blank">bootstrap-vue</a> to <a href="https://bootstrap-vue-next.github.io/bootstrap-vue-next/" target="_blank">bootstrap-vue-next</a>. The new pages should look very close to the old ones, but can be readily identified by the fact that the drop-down menus are rendered white text on a black background. We would appreciate your help as we roll the changes out. Please <a href="https://music4dance.blog/bug-report/" target="_blank">report any bugs you find</a> and we'll do our best to keep the site stable.</li>
            <li>We're still using <a href="http://jquery.com/" target="_blank">jQuery</a> for form validation in the account pages, but hope to find an alternative as part of the general migration progress.</li>
        </ul>
    </li>
    <li>The site uses <a href="https://docs.microsoft.com/en-us/azure/search/search-what-is-azure-search" target="_blank">Azure Cognitive Search</a> for managing and searching the core music database.</li>
    <li>The site is hosted on <a href="http://azure.microsoft.com" target="_blank">Microsoft Azure</a>.</li>
    <li>The <a href="https://cookieconsent.insites.com" target="_blank">cookie consent control</a> was created by <a href="https://insites.com" target="_blank">silktide insites</a></li>
    <li>The <a href="https://browser-update.org/update-browser.html#3" target="_blank">browser update notification</a> is supplied by <a href="https://browser-update.org/" target="_blank">browser-update.org</a></li>
</ul>

<h2>Design</h2>

<ul>
    <li>The music4dance logo and assistance with some colors and other design components was provided by Polly Payne of <a href="http://www.delacatadesign.com/" target="_blank">Delacata Design</a>.</li>
    <li>The dancer silhouettes were created by Dmitry Skvorcov: © <a href="http://www.dreamstime.com/dmiskv_info#res10177599" target="_blank">Dmiskv</a> | <a href="http://www.dreamstime.com/#res10177599" target="_blank">Dreamstime.com</a> - <a href="http://www.dreamstime.com/royalty-free-stock-photography-silhouettes-pairs-dancing-image13114167#res10177599" target="_blank">Silhouettes Of The Pairs Dancing Photo</a></li>
    <li>Most of the icons on the site are from the <a href="https://icons.getbootstrap.com/" target="_blank">Bootstrap Icons library</a>.</li>
    <li>The specific tag icons (shoes, note, drum, and tag) are from <a href="https://icons8.com/" target="_blank">icons8.com</a></li>

</ul>

<h2>Dance</h2>

<p>Much deep knowledge of Ballroom Dancing and how music relates to partner dancing has been provided over the years by Rhett Powers and Shona Baily of <a href="https://www.linkedin.com/in/powersballroomstudio/" target="_blank">Powers Ballroom Studio.</a></p>