@{
    ViewBag.Title = "Credits";
    ViewBag.Canonical = "https://www.music4dance.net/credits";
    ViewBag.Description = "music4dance credits page";
}


<h1>Credits</h1>

<h2>Code and Libraries</h2>

<p>Music4dance.net is built with <a href="http://www.asp.net/mvc">asp.net mvc5</a> using <a href="http://getbootstrap.com/">Twitter Bootstrap</a> for the presentation layter, <a href="http://azure.microsoft.com/en-us/services/sql-database/">SQL Azure</a> and <a href="http://www.asp.net/entity-framework">Entity Framework</a> for the database and <a href="http://jquery.com/">jQuery</a> and <a href="http://knockoutjs.com/">knockoutjs</a> as the primary front end libraries.</p>
<p>The site is hosted on <a href="http://azure.microsoft.com">Microsoft Azure</a>.</p>
<p>The <a href="https://cookieconsent.insites.com">cookie consent control</a> was created by <a href="https://insites.com">silktide insites</a></p>

<h2>Design</h2>

<p>The music4dance logo and assistance with some colors and other design components was provided by Polly Payne of <a href="http://www.delacatadesign.com/">Delacata Design</a>.</p>

<p>The dancer silhouettes were created by Dmitry Skvorcov: © <a href="http://www.dreamstime.com/dmiskv_info#res10177599">Dmiskv</a> | <a href="http://www.dreamstime.com/#res10177599">Dreamstime.com</a> - <a href="http://www.dreamstime.com/royalty-free-stock-photography-silhouettes-pairs-dancing-image13114167#res10177599">Silhouettes Of The Pairs Dancing Photo</a></p>

<p>Many of thie icons on the site are provided via the twitter bootstrap inlusion of <a href="http://glyphicons.com/">Glyphicons</a></p>

<p>The specific tag icons (shoes, note, drum, and tag) are from <a href="https://icons8.com/">icons8.com</a></p>

<h2>Dance</h2>

<p>Much deep knowledge of Ballroom Dancing and how music relates to partner dancing has been provided over the years by Rhett Powers and Shona Baily of <a href="http://www.powersballroomstudio.com/">Powers Ballroom Studio.</a></p>