@{
    Layout = "/Views/Shared/_bsv-Layout.cshtml";
    ViewBag.Title = "FAQ";
    ViewBag.Canonical = "https://www.music4dance.net/faq";
    ViewBag.Description = "Frequently Asked Questions about Music4Dance and the answers.";
}

<div id="app"></div>

@section Scripts {
    <script src="/client/js/chunk-vendors.js"></script>
    <script src="/client/js/chunk-common.js"></script>
    <script src="/client/js/faq.js"></script>
}
