@using m4d.ViewModels
@model HomeModel

@{
    ViewBag.Title = "Home Page";
    ViewBag.Canonical = "https://www.music4dance.net";
    ViewBag.Description = "music4dance.net is an online music catalog, tool and educational resource to help Ballroom, Salsa, Swing, Tango and other dancers find fun and exciting music.";

    var converterModel = new ObjectConverterModel { Name = "model", Model = Model };
}

<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0&appId=503791763032198&autoLogAppEvents=1" nonce="fuhOcdXs">
</script>

<div id="app"></div>

@section Scripts {
    <partial name="_jsonCamelCase" model="@converterModel" />
    <script src="/client/js/chunk-vendors.js"></script>
    <script src="/client/js/chunk-common.js"></script>
    <script src="/client/js/home.js"></script>
}
