@using m4d.ViewModels
@{
    ViewBag.Title = "Privacy Policy";

    ViewBag.BreadCrumbs = BreadCrumbItem.BuildInfoTrail(ViewBag.Title);
}

<h1>@ViewBag.Title</h1>

<h2>
    Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.
</h2>

<ul>
    <li>
        Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.
    </li>
    <li>
        We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.
    </li>
    <li>
        We will only retain personal information as long as necessary for the fulfillment of those purposes.
    </li>
    <li>
        We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.
    </li>
    <li>
        Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.
    </li>
    <li>
        We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.
    </li>
    <li>
        We will make readily available to customers information about our policies and practices relating to the management of personal information.
    </li>
</ul>

<p>
    We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained.
</p>

<h2 id="GDPR">
    In light of the European Union's GDPR rule and California's CCPA, we're including the following specific details of our data use.
</h2>

<h3>All visitors to music4dance.net:</h3>
<ul>
    <li>We collect data and use cookies to improve your experience by measuring anonymized user data via Google Analytics. Specifically we do not associate Google Analytics data with your music4dance.net account and we anonymize your IP address before sending it to Google Analytics</li>
    <li>We collect data and use cookies for ad personalization and measurement. We do not start displaying ads until the cookie consent button is clicked. In addition, we've set adsense to <a href="https://support.google.com/adsense/answer/9560818?hl=en">restrict data processing</a> fro all California residents</li>
</ul>

<h3>music4dance.net Account Holders:</h3>
<p>We retain the following additional information:</p>
<ul>
    <li>Email address</li>
    <li>An encrypted version of your password</li>
    <li>The necessary keys to connect your account to any associated social media accounts that you've linked to your music4dance account</li>
    <li>The date you signed up</li>
    <li>The last date that you signed in</li>
    <li>A list of your searches on the site</li>
    <li>A list of your likes and tags</li>
</ul>
<p>The specifics of your social media logins are available to you on your <a href="https://www.music4dance.net/manage/settings">account settings page</a></p>
<h3>User Profile:</h3>
<p>If you filled out our registration form, we also retain the information from the form, which is:</p>
<ul>
    <li>Your region</li>
    <li>Which music services you prefer</li>
    <li>Your contact preferences</li>
</ul>
<p>The specifics of your user profile information is available to you on your <a href="https://www.music4dance.net/Identity/Account/Manage">user profile page</a>.</p>
<p>The specifics of your saved searches are available to you on your <a href="https://www.music4dance.net/Identity/Account/Manage/ExternalLogins">external logins page</a>.</p>
<p>The specifics of your searches, likes and tags are available on your "My searches" and "My songs" pages under the account menu.</p>
<p>You may permanently delete all of your personal information by emailing a request to <a href="mailto:info@music4dance.net">info@music4dance.net</a> from the email address that you have registered on the site.</p>

<h3>Data Protection</h3>
<p>All of the above data stored by music4dance is stored in a Microsoft SQL database in the Microsoft Azure cloud and is only accessible via the music4dance.net site by anyone other than music4dance.net employees. A very limited number of music4dance.net employees (currently 1) have access to the underlying database via the Azure portal.</p>

<p>More information on how Google uses cookies to manage ads is available <a href="https://policies.google.com/technologies/ads">here</a>.</p>
<p>If you would like more information about what cookies are and how to disable them <a href="https://cookiesandyou.com/">this website</a> is an excellent reference.</p>
<p>If you have any questions please contact us at <a href="mailto:info@music4dance.net">info@music4dance.net</a> or through our <a href="https://music4dance.blog/feedback/">feedback form</a>.</p>