@using m4d.ViewModels
@{
    ViewBag.Title = "Sorry, something went wrong.";
    ViewBag.BreadCrumbs = BreadCrumbItem.BuildContributeTrail("Error");
}

<h1>Purchase Failed</h1>

<p class="big-text">Sorry, somethings went wrong with your purchase.</p>

@if (string.Equals(Model.Error.ErrorType, "card_error"))
{
    <p class="big-text">Strip says: @Model.Error.ErrorMessage</p>

    <p class="big-text">
        Please @Html.ActionLink("click here", "Purchase", new
               {
                   amount = Model.Amount,
                   kind = Model.Kind
               }, null) to try again.
    </p>
}
else
{
    <p class="big-text">This appears to be a technical issue. Please try again later. If the the issue persists, please contact us at <a href="mailto:info@music4dance.net">info@music4dance.net</a></p>
}