@{
    ViewBag.Title = "Resume";
    ViewBag.Description = "David W. Gray's Resume";
}

<div id="app"></div>

@section Scripts {
    <script asp-src-include="/client/js/chunk-vendors.*.js"></script>
    <script asp-src-include="/client/js/chunk-common.*.js"></script>
    <script asp-src-include="/client/js/resume.*.js"></script>
}