@{
    Layout = "/Views/Shared/_bsv-Layout.cshtml";
    ViewBag.Title = "Counter";
    ViewBag.Description = "A web application to measure the tempo of a song and match it with styles of dance.";
}

<div id="app"></div>

@section Scripts {
    @if (ViewBag.Tempo != null)
    {
        <script>window.initialTempo = @ViewBag.Tempo;</script>
    }
    @if (ViewBag.Numerator != null)
    {
        <script>window.initialNumerator = @ViewBag.Numerator;</script>
    }
    <script>window.statsString = @Html.Raw(ViewBag.DanceStats);</script>
    <script src="/client/js/chunk-vendors.js"></script>
    <script src="/client/js/chunk-common.js"></script>
    <script src="/client/js/tempo-counter.js"></script>
}