@{
    ViewBag.Title = "Counter";
    ViewBag.Description = "A web application to measure the tempo of a song and match it with styles of dance.";
}

<div id="app"></div>

@section Scripts {
    @if (ViewBag.paramTempo != null)
    {
        <script>window.initialTempo = @ViewBag.paramTempo;</script>
    }
    @if (ViewBag.paramNumerator != null)
    {
        <script>window.initialNumerator = @ViewBag.paramNumerator;</script>
    }
    <partial name="_environmentWriter"/>
    <script asp-src-include="/client/js/chunk-vendors.*.js"></script>
    <script asp-src-include="/client/js/chunk-common.*.js"></script>
    <script asp-src-include="/client/js/tempo-counter.*.js"></script>
}