@model System.Int32?

@{
    if (@Model.HasValue)
    {
        DanceLibrary.SongDuration duration = new DanceLibrary.SongDuration((decimal)@Model);
        string length = duration.ToString("M");
        <span>@length</span>
    }
    else
    {
        <span></span>
    }

}
