@using m4d.ViewModels
@{
    ViewBag.Title = "Purchase Cancelled.";
ViewBag.BreadCrumbs = BreadCrumbItem.BuildContributeTrail("Cancel");
}

<h1>Purchase Failed</h1>

<p class="big-text">Sorry, you did not complete your purcahse.</p>