@using m4d.ViewModels
@using m4dModels
@using Microsoft.AspNetCore.Identity
@model m4dModels.ApplicationUser
@inject UserManager<ApplicationUser> UserManager;

@{
    ViewBag.Title = Model.UserName;
    ViewBag.BreadCrumbs = BreadCrumbItem.BuildUsersTrail(ViewBag.Title);
}

<h1>@ViewBag.Title</h1>
<hr/>

<div>
    <partial name="_userDetails" model="Model"/>
</div>

<p></p>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>