
@{
    ViewBag.Title = "Index";
}

<h2>Administrator Console</h2>

<ul>
    <li>@Html.ActionLink("Restore the Datbase", "RestoreDatabase")</li>
    <li>@Html.ActionLink("Seed the Datbase", "SeedDatabase")</li>
</ul>
