# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  - master

pool:
  vmImage: "windows-latest"

variables:
  buildConfiguration: "Release"

steps:
  - task: UseDotNet@2
    displayName: "Install .NET 10 SDK"
    inputs:
      packageType: "sdk"
      version: "10.x"

  - task: DotNetCoreCLI@2
    displayName: dotnet restore
    inputs:
      command: restore
      projects: "**/*.csproj"
      includeNuGetOrg: true

  - script: dotnet build --configuration $(buildConfiguration)
    displayName: "dotnet build $(buildConfiguration)"

  - task: VSTest@2
    inputs:
      testSelector: "testAssemblies"
      testAssemblyVer2: |
        **\*Tests.dll
        !**\ref\**
        !**\*TestAdapter.dll
        !**\obj\**
      searchFolder: "$(System.DefaultWorkingDirectory)"
