# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

pool:
  vmImage: ubuntu-latest

variables:
  buildConfiguration: "Release"

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: "22.x"

  - script: corepack enable
    displayName: "Enable Corepack"

  - script: yarn config set globalFolder "$(Agent.BuildDirectory)\Yarn\Berry"
    displayName: "Set Yarn global folder"
    workingDirectory: m4d/ClientApp/

  - script: yarn install --network-timeout=300000
    displayName: "Install Yarn for ClientApp"
    workingDirectory: m4d/ClientApp/

  - script: yarn build
    displayName: "Build ClientApp"
    workingDirectory: m4d/ClientApp/

  - task: UseDotNet@2
    displayName: "Install .NET 10 SDK"
    inputs:
      packageType: "sdk"
      version: "10.x"

  - script: dotnet build --configuration $(buildConfiguration)
    displayName: "dotnet build $(buildConfiguration)"

  - task: DotNetCoreCLI@2
    displayName: publish web project
    inputs:
      command: "publish"
      arguments: "--configuration $(buildConfiguration)"
      publishWebProjects: true

  - task: AzureWebApp@1
    displayName: deploy
    inputs:
      azureSubscription: "m4d-release"
      appType: "webAppLinux"
      appName: "msc4dnc"
      package: "$(System.DefaultWorkingDirectory)/**/*.zip"
