# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

pool:
  vmImage: "ubuntu-latest"

variables:
  buildConfiguration: "Release"

steps:
  - task: UseDotNet@2
    displayName: "Install .NET 10 SDK"
    inputs:
      packageType: "sdk"
      version: "10.x"

  - task: PowerShell@2
    displayName: "Verify line endings"
    inputs:
      targetType: "filePath"
      filePath: "scripts/verify-line-endings.ps1"
      arguments: "-FailOnIssues"
      pwsh: true
      workingDirectory: "$(Build.SourcesDirectory)"

  - task: NodeTool@0
    inputs:
      versionSpec: "22.x"

  - script: corepack enable
    displayName: "Enable Corepack"

  - script: yarn config set globalFolder "$(Agent.BuildDirectory)\Yarn\Berry"
    displayName: "Set Yarn global folder"
    workingDirectory: m4d/ClientApp/

  - script: yarn install --network-timeout=300000
    displayName: "Install Yarn for ClientApp"
    workingDirectory: m4d/ClientApp/

  - script: yarn run test:ci
    displayName: "Run unit tests"
    workingDirectory: m4d/ClientApp/

  - task: PublishTestResults@2
    condition: succeededOrFailed()
    inputs:
      testRunner: JUnit
      testResultsFiles: "**/junit.xml"

  - task: DotNetCoreCLI@2
    displayName: dotnet restore
    inputs:
      command: restore
      projects: "**/*.csproj"
      includeNuGetOrg: true

  - script: dotnet build --configuration $(buildConfiguration)
    displayName: "dotnet build $(buildConfiguration)"

  - task: VSTest@2
    inputs:
      testSelector: "testAssemblies"
      testAssemblyVer2: |
        **\*Tests.dll
        !**\ref\**
        !**\*TestAdapter.dll
        !**\obj\**
      searchFolder: "$(System.DefaultWorkingDirectory)"
