@using m4d.ViewModels
@using m4dModels
@model IEnumerable<m4dModels.ActivityLog>

@{
    ViewBag.Title = "Activity Log";

    ViewData["BreadCrumbs"] = new List<BreadCrumbItem>
    {
        BreadCrumbItem.AdminItem,
        new()
        {
            Title = ViewBag.Title,
            Active = true
        }
    };
}

<h1>@ViewBag.Title</h1>

<div class="row">
	<partial name="_ActivityLog" model="Model" />
</div>
