@model System.Int32?

@{
    string val = string.Empty;
    if (@Model.HasValue)
    {
        DanceLibrary.SongDuration duration = new DanceLibrary.SongDuration((decimal)@Model);
        //val = "value='" + duration.ToString("M") + "'";
        val = duration.ToString("M");
    }
    <input class="text-box single-line" id="Length" name="Length" type="text" value="@val"/>
}

@*<div class="col-md-10">
    <input class="text-box single-line" data-val="true" data-val-number="The field Length must be a number." data-val-range="The field Length must be between 0 and 9999." data-val-range-max="9999" data-val-range-min="0" id="Length" name="Length" type="number" value="137" />
    <span class="field-validation-valid" data-valmsg-for="Length" data-valmsg-replace="true"></span>

</div>*@
