@model m4dModels.ErrorModel

<h2>Error</h2>
<div>
    @{
        string message = null;
        switch (Model.HttpStatusCode)
        {
            case 404:
                message = "The page you requested wasn't found.";
                break;
            case 500:
                message = string.Concat("The following server error was encountered:<br /> ", Model.Exception.Message);
                break;
        }
    }

    @Html.Raw(message)
</div>

<div>
    <h3>Here are a few things to try:</h3>
    <ul>        
        <li>Try our <a href="https://www.music4dance.net/dances">dances page</a> if you're looking for information about a particular dance style.</li>
        <li>Try our <a href="https://www.music4dance.net/song">songs page</a> if you're looking for dance information about a particular song or artist.</li>
        <li>Try our <a href="https://www.music4dance.net/blog">blog</a> if you're looking for information about relating music to dance.</li>
        <li>Try our <a href="https://www.music4dance.net/home/sitemap">site map</a> or our <a href="https://www.music4dance.net/home">home page</a> if you want to see what we have to offer.</li>
        <li>If all else fails please <a href="mailto:david@music4dance.net"> send us an email</a> and let us know what went wrong.</li>
    </ul>
</div>