@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Seattle, WA
</address>

<address>
    <strong>Support:</strong><a href="mailto:david@music4dance.net">support@music4dance.net</a><br />
</address>