@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Choose BPM, 2/4, 3/4 or 4/4 meter</p>
<p>Click the Count button once per beat for BPM or once per measure for the metered timings</p>
<p>Or type in a tempo to the left of the meter dropdown.</p>
<p>See which partner dances can be danced to the tempo/meter that you've chosen.</p>
