@{
    ViewBag.Title = "FAQ";
    ViewBag.Canonical = "https://www.music4dance.net";
    ViewBag.Description = "Frequently Asked Questions about Music4Dance and the answers.";
}

<div class="row">
    <div class="col-md-8">
        <h1>FAQ</h1>
        <p class="neutral">This page is coming soon! Check back at a later date to see the fully functional page.</p>
      </div>  
</div>