@{
    ViewBag.Title = "Home Page";
    ViewBag.Canonical = "https://www.music4dance.net";
    ViewBag.Description = "music4dance.net is an online catalog, tools and eductational resources that help Ballroom, Salsa, Swing, Tango and other dancers find fun and exiting music.";
}

<h2>View</h2>

