@using m4d.ViewModels
@model m4dModels.PlayList

@{
    ViewBag.Title = $"{Model.Id} Description";
ViewBag.BreadCrumbs = BreadCrumbItem.BuildUsersTrail(ViewBag.Title);
}

<h1>@ViewBag.Title</h1>
<hr/>

<div>
    <partial name="_playlistDetails" model="@Model"/>
</div>
<p></p>
<p>
    @Html.ActionLink("Edit", "Edit", new
{
    id = Model.Id
}) |
    @Html.ActionLink("Back to List", "Index")
</p>