@model string
@{
    var prefix = string.IsNullOrEmpty(Model) ? "When you've signed up" : Model;
}


<h4>@prefix you can:</h4>
<hr />
<ul class="list-clean-aligned big-text">
    <li><i class="bi-hand-thumbs-up text-primary"></i>&nbsp;<a href="https://music4dance.blog/music4dance-help/dance-tags/">Vote on dances</a></li>
    <li><i class="bi-tags-fill text-primary"></i>&nbsp;<a href="https://music4dance.blog/music4dance-help/tag-editing/">Tag songs</a></li>
    <li><i class="bi-search text-primary"></i>&nbsp;<a href="https://music4dance.blog/music4dance-help/advanced-search/">Search on songs you've tagged</a></li>
    <li><i class="bi-folder-fill text-primary"></i>&nbsp;<a href="https://music4dance.blog/music4dance-help/saved-searches/">Save your searches</a></li>
    <li><i class="bi-heart-fill text-primary"></i>&nbsp;<a href="https://music4dance.blog/2021/10/15/what-is-the-difference-between-adding-a-song-to-favorites-and-voting-on-a-songs-danceability/">Add songs to favorites</a></li>
    <li><i class="bi-currency-dollar text-primary"></i>&nbsp;<a href="https://music4dance.blog/music4dance-help/subscriptions/">Purchase a premium subscription to unlock even more features</a></li>
    @*<li>
            <span class="glyphicon glyphicon-pushpin"></span> Set defaults (coming soon)
            <ul class="list-clean">
                <li><span class="glyphicon glyphicon-list"></span> Number of songs per page</li>
                <li><span class="glyphicon glyphicon-th"></span> Customize the columns in search results</li>
            </ul>
        </li>*@
</ul>
