@model string
@using m4dModels

@{
    Layout = "/Views/Shared/_bsv-Layout.cshtml";
    SongFilter filter = ViewBag.SongFilter;

    ViewBag.Title = "Advanced Search";
    ViewBag.Description = "music4dance advanced song search form: " + filter.Description;
}

@*<div class="row">
    <h1 class="col-sm-12" style="font-size: 22px; text-align: center">
        Advanced Song Search
    </h1>
</div>*@

<div id="app"></div>

@section Scripts {
    <script>window.model = @Html.Raw(Model);</script>
    <script src="/client/js/chunk-vendors.js"></script>
    <script src="/client/js/chunk-common.js"></script>
    <script src="/client/js/advanced-search.js"></script>
}
