@model string
@using m4dModels

@{
    SongFilter filter = ViewBag.SongFilter;

    ViewBag.Title = "Advanced Search";
    ViewBag.Description = "music4dance advanced song search form: " + filter.Description;
}

<div id="app"></div>

@section Scripts {
    <partial name="_environmentWriter"/>
    <script asp-src-include="/client/js/chunk-vendors.*.js"></script>
    <script asp-src-include="/client/js/chunk-common.*.js"></script>
    <script asp-src-include="/client/js/advanced-search.*.js"></script>
}