@using m4d.ViewModels
@using m4dModels
@model m4d.ViewModels.AlbumViewModel

@{
    ViewBag.Title = Model.Title;
    ViewBag.NoSort = true;
    ViewBag.AlbumName = Model.Title;
    ViewBag.HideArtist = !string.IsNullOrWhiteSpace(Model.Artist);
    ViewBag.SongFilter = new SongFilter { SortOrder = "Album" };
}

<partial name="_SetupFilterScript" />

<h2>Album: @Model.Title</h2>
@if (!string.IsNullOrWhiteSpace(Model.Artist))
{
    <h3>Artist: @Html.ActionLink(Model.Artist, "artist", "song", new { name = Model.Artist }, null)</h3>
}

<div class="row col-xs-12">
    @if (Model.Songs.Any())
    {
        <partial name="_ListSongs" model="Model.Songs" />
    }
    else
    {
        <p class="big-text">We don't have any songs from this album that have been associated with a dance style.  Please let us know if you have a list that includes songs from this album and associated dance styles and we'll be happy to add them.  We can be contacted via email at <a href="mailto:info@music4dance.net">info@music4dance.net</a> or through our <a href="https://music4dance.blog/feedback/">feedback form.</a></p>
    }
</div>


@section Scripts
{
    @{
        var scripts = new ScriptModel
        {
            DevelopmentFiles = new[] { "musicservice" }
        };
    }

    <partial name="_scriptInclude" model="@scripts" />
}

