@using m4d.ViewModels
@using m4dModels
@model m4d.ViewModels.ArtistViewModel

@{
    ViewBag.Title = Model.Name;
    ViewBag.NoSort = true;
    ViewBag.HideArtist = true;
    ViewBag.SongFilter = new SongFilter { SortOrder = "Album" };
}

<partial name="_SetupFilterScript" />

<h2>Artist: @Model.Name</h2>

<div class="row col-xs-12">
    <partial name="_ListSongs" model="Model.Songs" />
</div>


@section Scripts
{
    @{
        var scripts = new ScriptModel
        {
            IncludeTools = false,
            DevelopmentFiles = new[] { "musicservice" }
        };
    }

    <partial name="_scriptInclude" model="@scripts" />
}

