@using m4d.ViewModels
@using Microsoft.Extensions.Configuration
@inject IConfiguration _configuration;
@model m4d.ViewModels.AugmentViewModel;

@{
    ViewBag.Title = "Add Song";
    ViewBag.Description = "Add a new song to the music4dance catalog";
    var ecString = _configuration["Configuration:Augment:Open"];
    if (!bool.TryParse(ecString, out var openAugment))
    {
        openAugment = false;
    }
    var converterModel = new ObjectConverterModel
    {
        Name = "model",
        Model = Model
    };
}

<div id="app"></div>

@section Scripts {
    <partial name="_environmentWriter"/>
    <partial name="_jsonCamelCase" model="@converterModel" />
    <script language="javascript">
        window.openAugment = @Json.Serialize(openAugment);
    </script>
    <script asp-src-include="/client/js/chunk-vendors.*.js"></script>
    <script asp-src-include="/client/js/chunk-common.*.js"></script>
    <script asp-src-include="/client/js/augment.*.js"></script>
}

@section Styles {
    <environment exclude="Development">
        <link rel="stylesheet" href="/client/css/augment.css" asp-append-version="true" />
    </environment>
}