@model m4d.ViewModels.SongDetailsModel
@using m4d.ViewModels

@{
    ViewBag.Title = Model.Song.Title;
    ViewBag.Description = "music4dance catalog: " + Model.Song.Title + " dance information";
    var converterModel = new ObjectConverterModel { Name = "model", Model = Model };
}

<div id="app"></div>

@section Scripts {
    <partial name="_jsonCamelCase" model="@converterModel" />
    <script src="/client/js/chunk-vendors.js"></script>
    <script src="/client/js/chunk-common.js"></script>
    <script src="/client/js/song.js"></script>
}

@section Styles {
    <environment exclude="Development">
        <link rel="stylesheet" href="/client/css/chunk-common.css" asp-append-version="true" />
    </environment>
}