@using m4d.ViewModels
@using m4dModels
@model m4dModels.Song

@{
    ViewBag.Title = "Edit";
    ViewBag.Action = "Edit";
    ViewBag.Submit = "Save";
}

<partial name="EditCore" model="Model" />


<div>
    @Html.ActionLink("Back to Search Results", ((SongFilter)ViewBag.SongFilter).TargetAction, new { filter = ViewBag.SongFilter }, new { @class = "btn btn-small btn-primary", role = "button" })
</div>

@if (ViewData.ContainsKey("Errors"))
{
    <div>
        @foreach (Exception error in ViewBag.Errors)
        {
            <p>@error.Message</p>
        }
    </div>
}

@section Scripts {
    @{
        var scripts = new ScriptModel
        {
            IncludeTools = true,
            DevelopmentFiles = new[] { "counter", "tagchooser", "edit" },
            ReleaseFiles = new[] { "songdetails" },
        };
    }

    <partial name="_scriptInclude" model="@scripts" />
}

@section Styles {
    <partial name="_toolsStyles" />
}

