@using m4dModels
@model m4dModels.Song

@{
    ViewBag.Title = "Edit";
    ViewBag.Action = "Edit";
    ViewBag.Submit = "Save";
}

<partial name="EditCore" model="Model" />


<div>
    @Html.ActionLink("Back to Search Results", ((SongFilter)ViewBag.SongFilter).TargetAction, new { filter = ViewBag.SongFilter }, new { @class = "btn btn-small btn-primary", role = "button" })
</div>

@if (ViewData.ContainsKey("Errors"))
{
    <div>
        @foreach (Exception error in ViewBag.Errors)
        {
            <p>@error.Message</p>
        }
    </div>
}

@section Scripts {
    <environment include="Development">
        <script src="~/scripts/tools-script.js"></script>
        <script src="~/scripts/songdetails.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="scripts/tools-script.min.js"></script>
        <script src="~/scripts/songdetails.min.js"></script>
    </environment>
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/tools-styles.min.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/tools-styles.css" asp-append-version="true" />
    </environment>
}

