@model m4d.ViewModels.SongListModel
@using m4d.ViewModels

@{
    ViewBag.Title = "New Music for Dancing";
    ViewBag.Description = "music4dance catalog: " + ViewBag.SongFilter.Description;
    var converterModel = new ObjectConverterModel
    {
        Name = "model",
        Model = Model
    };
}

<div id="app"></div>

@section Scripts {
    <partial name="_jsonCamelCase" model="@converterModel"/>
    <script src="/client/js/chunk-vendors.js"></script>
    <script src="/client/js/chunk-common.js"></script>
    <script src="/client/js/new-music.js"></script>
}

@section Styles {
    <environment exclude="Development">
        <link rel="stylesheet" href="/client/css/chunk-common.css" asp-append-version="true"/>
    </environment>
}