@model IEnumerable<SongProperty>

@if (User.IsInRole("showDiagnostics"))
{
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td style="max-width: 100px">@Html.DisplayFor(modelItem => item.Name)</td>
                <td style="max-width: 200px">@Html.DisplayFor(modelItem => item.Value)</td>
            </tr>
        }
    </table>
}
