@using m4d.ViewModels
@{
    Layout = "/Views/Shared/_bs4-Layout.cshtml";

    ViewData["BreadCrumbs"] = new List<BreadCrumbItem>
    {
        BreadCrumbItem.HomeItem,
        new() { Title = ViewBag.UserName, Link = "/Identity/Account/Manage" },
        new() { Title = ViewBag.Title, Active = true }
    };
}

<h1>Manage your account</h1>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <div class="row">
        <div class="col-md-1">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-10 col-md-offset-1">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}
