@helper TryIt(string url)
{
    <a class="label label-music" href="@url"><span class="glyphicon glyphicon-play-circle"></span> Try It!</a>
}

@helper Docs(string url)
{
    <a class="label label-style" href="@url"><span class="glyphicon glyphicon-file"></span> Documentation</a>
}

@helper Posts(string url)
{
    <a class="label label-other" href="@url"><span class="glyphicon glyphicon-pencil"></span> Blog Posts</a>
}