@using Microsoft.Extensions.FileProviders
@inject IFileProvider _fileProvider;

@{
    if (!ViewData.TryGetValue("VueName", out var baseName))
{
    throw new Exception("Vue view must define a VueName");
}
string jsFile = $"/client/js/{baseName}.*.js";
string cssFile = $"/client/css/{baseName}.css";
}

<!DOCTYPE html>
<html>
    <head>
    @if (_fileProvider.GetFileInfo($"/wwwroot/client/css/{baseName}.css").Exists)
{
    <link rel="stylesheet" href="@cssFile" asp-append-version="true" />
}
    @await RenderSectionAsync("styles", false)
    <script type="importmap"></script>
    <partial name="_head"/>
    </head>
    <body>
        @RenderBody()

        <partial name="_environmentWriter"/>
        @await RenderSectionAsync("scripts", false)
        <script asp-src-include="/client/js/chunk-vendors.*.js"></script>
        <script asp-src-include="/client/js/chunk-common.*.js"></script>
        <script asp-src-include="@jsFile"></script>
    </body>
</html>