@using m4dModels
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.FileProviders
@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager
@inject ISearchServiceManager _searchService
@inject IFileProvider _fileProvider;

@{
    if (!ViewData.TryGetValue("VueName", out var baseName))
    {
        throw new Exception("Vue view must define a VueName");
    }
    string jsFile = $"/client/js/{baseName}.*.js";
    string cssFile = $"/client/css/{baseName}.css";
}

<!DOCTYPE html>
<html>
    <head>
    @if (_fileProvider.GetFileInfo($"/wwwroot/client/css/song-index.css").Exists)
    {
        <link rel="stylesheet" href="@cssFile" asp-append-version="true" />
    }
    @await RenderSectionAsync("styles", false)
    <partial name="_head"/>
    </head>
    <body>
        @RenderBody()

        <partial name="_environmentWriter"/>
        @await RenderSectionAsync("scripts", false)
        <script asp-src-include="/client/js/chunk-vendors.*.js"></script>
        <script asp-src-include="/client/js/chunk-common.*.js"></script>
        <script asp-src-include="@jsFile"></script>
    </body>
</html>