<div class="modal fade" id="danceModal" tabindex="-1" role="dialog" aria-labelledby="danceModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="danceModalLabel"><span data-bind="text: title"></span> by <span data-bind="text: artist"></span></h4>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <a class="list-group-item list-group-item-warning" data-bind="attr:{href:'/dances/' + danceName()}"><span class="glyphicon glyphicon-music"></span> <span data-bind="text:danceName"></span> page...</a>
                    <!-- ko if:filteredUrl -->
                    <a class="list-group-item list-group-item-danger" data-bind="attr:{href:filteredUrl}"><span class="glyphicon glyphicon-filter"></span> Filter the list to only songs tagged as <span class="filter-tag" data-bind="text:danceName"></span></a>
                    <!-- /ko -->
                    <!-- ko if:danceUrl -->
                    <a class="list-group-item list-group-item-success" data-bind="attr:{href:danceUrl}"><span class="glyphicon glyphicon-plus"></span> Expand the list to include songs tagged as <span class="filter-tag" data-bind="text:danceName"></span></a>
                    <!-- /ko -->
                    <!-- ko if:url -->
                    <a class="list-group-item list-group-item-warning" data-bind="attr:{href:url}"><span class="glyphicon glyphicon-globe"></span> List all <span class="filter-dance" data-bind="text:danceName"></span> songs.</a>
                    <!-- /ko -->
                    <a class="list-group-item list-group-item-info" href="https://www.music4dance.net/blog/tag-filtering"><span class="glyphicon glyphicon-question-sign"></span> Help</a>
                </div>
                <div data-bind="if:tagText"><span data-bind="html:tagText"></span></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
