<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="filterModalLabel">
                    <!-- ko if:title-->
                        <span data-bind="text: title"></span> by <span data-bind="text: artist"></span>
                    <!-- /ko -->
                    <!-- ko ifnot:title-->
                        <span data-bind="text: tagValue"></span>
                    <!-- /ko -->
                </h4>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <!-- ko if:filteredUrl -->
                        <a class="list-group-item list-group-item-success" data-bind="attr:{href:filteredUrl().replace('{0}','%2B')}"><span class="glyphicon glyphicon-filter"></span> Filter the list to include only songs tagged as <span class="filter-tag" data-bind="text:tagValue"></span></a>
                        <a class="list-group-item list-group-item-danger" data-bind="attr:{href:filteredUrl().replace('{0}','%2D')}"><span class="glyphicon glyphicon-filter"></span> Filter the list to include only songs <span class="filter-negate">not</span> tagged as <span class="filter-tag" data-bind="text:tagValue"></span></a>
                    <!-- /ko -->
                    <!-- ko if:danceUrl -->
                        <a class="list-group-item list-group-item-success" data-bind="attr:{href:danceUrl().replace('{0}','%2B')}"><span class="glyphicon glyphicon-tag"></span> List all <span class="filter-dance" data-bind="text:danceName"></span> songs tagged as <span class="filter-tag" data-bind="text:tagValue"></span></a>
                        <a class="list-group-item list-group-item-danger" data-bind="attr:{href:danceUrl().replace('{0}','%2D')}"><span class="glyphicon glyphicon-tag"></span> List all <span class="filter-dance" data-bind="text:danceName"></span> songs <span class="filter-negate">not</span> tagged as <span class="filter-tag" data-bind="text:tagValue"></span></a>
                    <!-- /ko -->
                    <!-- ko if:url -->
                        <a class="list-group-item list-group-item-success" data-bind="attr:{href:url().replace('{0}','%2B')}"><span class="glyphicon glyphicon-list"></span> List all songs tagged as <span class="filter-tag" data-bind="text:tagValue"></span></a>
                        <a class="list-group-item list-group-item-danger" data-bind="attr:{href:url().replace('{0}','%2D')}"><span class="glyphicon glyphicon-list"></span> List all songs <span class="filter-negate">not</span> tagged as <span class="filter-tag" data-bind="text:tagValue"></span></a>
                    <!-- /ko -->
                        <a class="list-group-item list-group-item-info" href="https://music4dance.blog/tag-filtering"><span class="glyphicon glyphicon-question-sign"></span> Help</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
