@model IEnumerable<m4dModels.PurchaseLink>

@{
    var useLogo = ViewData.ContainsKey("UseLogo") && ViewBag.UseLogo;
}

@foreach (var link in Model)
{
    var target = string.Empty;
    if (link.Target != null)
    {
        target = "target='" + link.Target + "'";
    }
    
    var image = useLogo ? link.Logo : link.Charm;

    <a href='@link.Link' @Html.Raw(target)><img src='@Url.Content("~/images/icons/" + image)' alt='@link.AltText' /></a>
}

