@model Tuple<string,string>

@{
    var type = Model.Item1;
    var header = Model.Item2;
}

<div id="@type-suggestions" data-bind="with: $root.tagSuggestions().current()">
    <hr data-bind="css: $root.tagSuggestions().current().hrClass" />
    <div class="row">
        <h4 class="col-md-8">@header</h4>
        <div class="btn-group col-md-4" role="radiogroup">
            <a href="#!" role="button" data-bind="click: sortBy('@type','alpha'), css: sortButton('@type','alpha')" class="btn btn-sm"><span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
            <a href="#!" role="button" data-bind="click: sortBy('@type','weight'), css: sortButton('@type','weight')" class="btn btn-sm"><span class="glyphicon glyphicon-sort-by-attributes-alt"></span></a>
        </div>
    </div>
    <div id="@type-message" class="row">
        <div class="col-md-12">
            <p>Waiting for server...</p>
        </div>
    </div>
    <div id="@type-list" class="row">
        <div class="col-md-12">
            <!-- ko foreach: @type -->
            <a data-bind="text: value, click: $root.tagSuggestions().current().addTagLink, css:$root.tagSuggestions().current().typeClass"></a><span>@*(<span data-bind="text:count"></span>)*@ &nbsp; </span>
            <!-- /ko -->
        </div>
    </div>
</div>
