@helper Suggestions(string type, string header)
{
    <div id="@type-suggestions" data-bind="with: $root.tagSuggestions().current()">
        <hr data-bind="css: $root.tagSuggestions().current().hrClass" />
        <div class="row">
            <h4 class="col-md-8">@header</h4>
            <div class="btn-group col-md-4" role="radiogroup">
                <a href="#!" role="button" data-bind="click: sortBy('@type','alpha'), css: sortButton('@type','alpha')" class="btn btn-sm"><span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
                <a href="#!" role="button" data-bind="click: sortBy('@type','weight'), css: sortButton('@type','weight')" class="btn btn-sm"><span class="glyphicon glyphicon-sort-by-attributes-alt"></span></a>
            </div>
        </div>
        <div id="@type-message" class="row">
            <div class="col-md-12">
                <p>Waiting for server...</p>
            </div>
        </div>
        <div id="@type-list" class="row">
            <div class="col-md-12">
                <!-- ko foreach: @type -->
                <a data-bind="text: value, click: $root.tagSuggestions().current().addTagLink, css:$root.tagSuggestions().current().typeClass"></a><span>@*(<span data-bind="text:count"></span>)*@ &nbsp; </span>
                <!-- /ko -->
            </div>
        </div>
    </div>
}

<div class="modal fade" id="addTags" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" data-bind="css: tagSuggestions().current().typeClass">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                     <div class="row">
                         <div class="col-md-12">
                             <b>Tags: </b>
                             <select id="chosen" class="chosen" multiple data-bind="options: tagSuggestions().current().all, optionsText: 'value', selectedOptions: tagSuggestions().current().chosen, chosen: true"></select>
                         </div>
                    </div>
                    @Suggestions("user", "Tags that you've used:")
                    @Suggestions("popular", "Tags that others have used:")
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" data-bind="attr: {href:'https://music4dance.blog/music4dance-help/' + tagSuggestions().help() + '/'}" target="_blank"><span class="glyphicon glyphicon-question-sign"></span></a>
                <button id="addTagsOkay" type="button" class="btn btn-default" data-dismiss="modal" data-bind="text:tagSuggestions().current().title"></button>
            </div>
        </div>
    </div>
</div>
