<div class="modal fade" id="addTags" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" data-bind="css: tagSuggestions().current().typeClass">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <b>Tags: </b>
                            <select id="chosen" class="chosen" multiple data-bind="options: tagSuggestions().current().all, optionsText: 'value', selectedOptions: tagSuggestions().current().chosen, chosen: true"></select>
                        </div>
                    </div>
                    <partial name='_Suggestions' model='new Tuple<string,string>("user","Tags that you have used:")' />
                    <partial name='_Suggestions' model='new Tuple<string,string>("popular","Tags that others have used:")' />
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" data-bind="attr: {href:'https://music4dance.blog/music4dance-help/' + tagSuggestions().help() + '/'}" target="_blank"><span class="glyphicon glyphicon-question-sign"></span></a>
                <button id="addTagsOkay" type="button" class="btn btn-default" data-dismiss="modal" data-bind="text:tagSuggestions().current().title"></button>
            </div>
        </div>
    </div>
</div>
