@using m4d.Utilities
@using Microsoft.FeatureManagement

@inject IConfiguration _configuration
@inject IFeatureManagerSnapshot _featureManager

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" vite-href="style.css" asp-append-version="true" />
        @await RenderSectionAsync("styles", false)
        <script type="importmap"></script>
        <partial name="_head"/>
    </head>
    <body>
    @if (await _featureManager.IsEnabledAsync(FeatureFlags.GoogleTagManager))
    {
            <!-- Google Tag Manager (noscript) -->
            <noscript>
                <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T5WZVX7Z"
                        height="0" width="0" style="display:none;visibility:hidden"></iframe>
            </noscript>
            <!-- End Google Tag Manager (noscript) -->
        }
        @RenderBody()

        <partial name="_environmentWriter"/>
        @await RenderSectionAsync("scripts", false)
    </body>
</html>