@using m4d.ViewModels
@{
    Layout = "/Views/Shared/_bs4-Layout.cshtml";
    ViewBag.Title = "Search Robot Warning";
    ViewBag.BreadCrumbs = BreadCrumbItem.BuildInfoTrail(ViewBag.Title);
}

<h1>@ViewBag.Title</h1>

<p>Hi, you appear to be a spider or search robot of some kind that is overtaxing this site's capacity to serve up useful information.</p>
<p>If you are a human person, then our developer messed up this filter and we'd really like to know. Please email us at the email address "info" followed by the "at" sign and this site's domain name (remember, trying to avoid bots) and let us know how you found this page.</p>
<p>Thanks - the music4dance team.</p>


