@using m4d.ViewModels
@{
    if (string.IsNullOrWhiteSpace(ViewBag.Title))
{
    ViewBag.Title = "Info";
}
ViewBag.BreadCrumbs = BreadCrumbItem.BuildInfoTrail(ViewBag.Title);
}

<h2>@ViewBag.Title:</h2>
<p class="big-text">@Html.Raw(ViewBag.Message)</p>