@using Vite.AspNetCore
@using m4d.ViewModels
@inject IViteManifest Manifest
@model VueModel

@{
ViewData["Title"] = Model.Title;
ViewData["Description"] = Model.Description;
var entry = $"/src/pages/{Model.Name}/main.ts";
var vueModel = Model.Model;
if (vueModel is string)
{
    vueModel = $"'{vueModel}'";
}

var converterModel = Model.Model != null
    ? new ObjectConverterModel
            {
                Name = "model_",
                Model = vueModel,
                PreserveCase = Model.PreserveCase,
            }
    : null;
}

@if (Model.Script != null)
{
    <partial name="@Model.Script" />
}

@section Styles {
    <link rel="stylesheet" vite-href="@entry" asp-append-version="true" />
}

@section Scripts {
    @if (Model.Model != null)
    {
        <partial name="_jsonCamelCase" model="@converterModel" />
    }
    <script type="module" vite-src="@entry" asp-append-version="true"></script>
}

<div id="app"></div>

