<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Dances</h3>
    </div>

    <ul class="panel-body list-group" data-bind="foreach: song.DanceRatings">
        <li class="list-group-item">
            <span class="rating-block" data-show="tooltip" data-placement="top" data-bind="css: Badge, attr: {'data-original-title':tooltip}">
                <a data-bind="attr: {href: link}, text: DanceName, css:danceTag"></a>
            </span>
            &nbsp;
            <a role="button" class="label label-default" data-show="tooltip" data-placement="top" data-bind="attr: {'data-original-title':liketip},  visible:canTag"><img data-bind="click:toggleVote, attr: {src:voteImage, 'alt':voteName}" /></a>
            <span data-bind="template: {name:'tag-template',foreach:TagSummary.tagTypes}"></span>
        </li>
    </ul>

    <div style="margin:0 10px 10px 10px" data-bind="visible:canTag">
        @Html.DropDownList("addDance", ViewBag.DanceList as IEnumerable<SelectListItem>, new { @class = "chzn-select", data_placeholder = "Add a dance style..."})
    </div>
</div>
