@model IEnumerable<m4dModels.SongProperty>

@if (User.IsInRole("showDiagnostics"))
{
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Value)</td>
            </tr>
        }
    </table>
}
