@model IEnumerable<m4d.Models.SongProperty>

@if (User.IsInRole("showDiagnostics"))
{
    <table class="songlist">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Value</th>
        </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Value)</td>
        </tr>
    }
    </table>
}
