body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Source Sans Pro;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 500px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* songlist table */
table.songlist tr:nth-child(odd)
{
    background-color: lightgray;
}

table.songlist th 
{
    background-color: silver;
    padding-left: 5px;
    padding-right: 5px;
}

table.songlist td
{
    padding-left: 3px;
    padding-right: 3px;
}

table.songlist 
{
    border-color: silver;
    border-right-width: medium;
    border-left-width: medium;
    border-left-style:solid;
    border-right-style:solid;
    border-bottom-width:thick;
    border-bottom-style:solid;
}

/* Details pages */

.label {
    font-weight: 700;
}

.display-label {
    display: inline;
    font-size: 1.2em;
    font-weight: 600;
}

.display-label-alternate {
    margin-left: 20px;
}

.display-field {
    display: inline;
    font-size: 1.2em;
}

/*.calculator
{
    display: inline;
    font-size: large;
    font-weight:bold;
    padding: 3px 6px;
    color: #5bc0de;
    background-color: #fff;
    border-color: #46b8da;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 4px solid;
    border-radius: 3px;

.music
{
    color: #24a092;
}

.tools
{
    color: #cc7700;
}

.blog
{
    color: #001671;
}
*/

#mt
{
    width:100%;
}

.row-buffer {
    margin-top:15px; 
    padding-left:10px;
    padding-right:10px;
}

.btn-ml,
.btn-group-ml > .btn {
  padding: 9px 14px;
  font-size: 16px;
  line-height: 1.33;
  border-radius: 6px;
}

.navbar-logo {
  float: left;
  height: 50px;
  padding: 0px 30px 0px 0px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-custom {
    font-size: 20px;
    font-weight:500;
}

.banner {
    max-width:90%;
}

.rating {
    white-space: nowrap;
    display: inline;
}

.rating:before {
    display: inline;
}

.rating-0:before {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwQAADsEBuJFr7QAAABh0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC41ZYUyZQAAAgFJREFUSEu1VctKw0AU7do/8Q/ERV2IK+kHCOLGX9G1IAUVNY8mpStXiuDGRRGhUEHTJm1aEB9QEKFC7SNN29Q5cQbHdFKbth44kDRzz71z7sxtzKukr71qes+z1cUYBZ49W4+7pZTSK6Vu3bLmDqvpYZC9stZwLVXiY0eARXRxC8kgiOeg2DgOKtr7pyGtUcnfaFvqCtlBTRQYJHbStVI5f9ccSUEdFBqaxKtmlknlNkT6ttZvGZLdLaWyCIZNL9nkBixjVgzzRwvf73q8Y8qrb7mDXcdUb8jap1C7EEQWZVi1qIpWp79m9zd9r2nFXVPxixGRfHsc2FoSelT6B/iRfDwRBUZluyhfhSbpFORteMoWE9s8PjhIYm+R7Y6RxH807k8vqOwo0DCcDgiQXdWbD5IeENDrd8cJ9EFUKXqRP9tZoq9i8M3HjpqGvE4/zQ+ojvh5jiTEqh4updDbWQBBvvn+afuPJKiejQ2ckrEjYlqg+TghSIIJgElAP80P/HhBstARMQ1gi2OpGsYC6wlsm7n5CCaD7jBsdINIQpdHA8T9qy8Q5emYynPkXSCAH4J/ETebhk6GdkHZEgmJ6BSVWuQdYO6IxERE82nY5GgaUlkkFiRm1VQXr2XIpkiQJ05WqyAlaEg04J9MJMqIyqcWB/wjWpAvg8KoGp6PtyUW+wKExrWWzLyLuwAAAABJRU5ErkJggg==);
}

.rating-1:before {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwQAADsEBuJFr7QAAABh0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC41ZYUyZQAAAhNJREFUSEu1VMtKw0AUnWz9E/9AXOhCXIkLcSWICP6KrgWtVVHTpEnpypUiqOCiiCAoaG3apgXxAYIICrWPNK2Jc+IExzipTdUDB5rOvee+Zi5xSqkjp5xadEy1nzDgt2PqQ3YhqbQKyRO7qNluOeUG2SpqFTuvyrzvN8CIGdcQDIL4HRTrxLeS9vSalUeZ5FfU8+owreBB5BgkKmnmk6de1RxpQg0kGhrEKacHaeYmRNqm1q5lZbNZSGbgjDbdZWJTaJnfCvdsve/jWx9qGImRx9PVBctQj6ntTWi74ESN0n62yIplp99nlqa9XrOMm4biJSMiPbt+M7UY9Jj0J/AnPdwUOUZlPZfYDw3SuErMoae+MW2bwzsHSdub86vzSf1fKhdbu0z2OzAw3A4I0Kqeq5eyHhDQn883xjEHUaaYxdn2/AD7FIMfPiqqZhNj7OjvgOxoP3cQhLaqhUcp7O1vAEF++N5t+48gyN5fG7glHVdEr8DwcUMQBBsAm4Ad/R349YJgoSuiF6AtVl7VsBb8maBtvx4+nOmiWwtb3SCCMPNogLj39AWiPC1DuY1cBRz4JfgT8bKZa3eoXykzIiERrZzyELkCZ3/iyD2YdLuhdTirMbfuUV2Wiu46cX9iKy5VnBUS/eHVliVDJMjTjhO7tkLGmUs02HFJFon6ROY9iwNUpK8ek/aCwsjaihOtc1sIeQc/IYrMxX45hAAAAABJRU5ErkJggg==);
}

.rating-2:before {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwQAADsEBuJFr7QAAABh0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC41ZYUyZQAAAh9JREFUSEu1VE1LG1EUfdNl/on/oHQRF+JK/AGF4qZ/pa4DJpkabCdOZkJWrhQhGxehCIEU2pivMSCtgiCFFGI+JhN94z3xDU6fb4IT0wOHzOS9e9695765jJ8XT3i3mOKOucIE8MwdO+m1C/vTduHU61ie3y36Mqcdq++1TCMc+wzYJDYPcRgE8SyLzeP9ufXntm6sC8l/MWqZq1TBtSpQJiqZtArVWdUhUkJjJBp5CO+W3lHmDkTuHOtuWDecSbtQQTBsuqxk3sOywAq/lks8vtvJcTO/dlP9vO02zW+091ekXQiiTaUgW2QlsrOvKjsfZl6LjCfN/VkyKtLaxb1jZaAnpJ+AP2nxiyowLkeNfDnykPFZ/iM8DTaTbTwcLJPsbQTVBaT4v/0fX4+E7HOgYbgdEKCqeoOfhi0J2L3ve5vogypT9KJ28OmteFUj3HxUNKjnN8TS8oDsyM9DHEJWTfFRKr19DSAYbv7stv2PQ5B9MDZwS+aOiEWB5uOG4BBMAEwCsbQ8hMcLDoscEYsAtrgt08JYCHoC217dfD/HEhOd7Xo68+jZV5HnWEpsjwcKTowyWlkWlOlmtN/0G68KBLhZrRQWmke+y5Ii9GUYZd9sqYRUpAqu6TdeBZTRiSwURVdnlgh7OQZpraMSkznVtT7Psvgf3jCtNVWCYeJmDbNsU4TEg6drhko0IDJfWBwgEVzRY1kYWcPz+bYw9gCmelq3Q7/KFwAAAABJRU5ErkJggg==);
}

.rating-3:before {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwQAADsEBuJFr7QAAABh0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC41ZYUyZQAAAi5JREFUSEutVE1r20AQXbU3/5P+g5KDcyg5lfyAQsklfyU9B2pLsWkqx5aMTzmlFHLJwZRCIIXWjT8UQ0lbCJRCAo4t21K86jx3RNXNKkSOHzz0sTtvZt6sJORZ/Uj269vSqz4RDNxLz80H3dpe2K19DHpOEPXrkcqw5wyCTtVOxt4CNvHmEZJBEPeq2F2cnTm/r1v2Gkv+D79TXaUOLnSBKtHJtFM7nnedIBU0RqGpSWS/sUKVexC58ZybUcv2pt1aE8Gw6Uez+AKWxVZEJ+Xc32c3P25Xnv063nk1aVc/0N7zVLsQRJsacbWoiqtzfzZfv5x7zRVP23vzYnSktW8zzylCj6X/AS9pcVcXmJX+aeUwNcn4a2UTnsabyTaZDFZJ9p7G3cWk+KvB57fvWPY2MDCcDghQV5fDL7arCLiXn96sYw66SjGLk/2tp/yoR3L46GjYqjznpeUB1ZGfB0hCVoX4KLXePgRRWeRmJbFL1wicmEYD73h5OYCgLIvtwBIBkvhF41CaIv0XsSiuC4/Xwh1xhSSyJC58U6zy0vIAUYgjCZIhKS89HLBlYgknsIxzJABhG+yj+8XnguCpJUrxDHREEt6eDRScw1BVQZWTovGdrtm6QAAfS62oSppNnkPvB998tKET0pE6wOCzdUAVHalCacTwOez+GBaMnk5MZWgZg4U+vFHBaOsEk8TJGplinUOygc67rRONicoXFgdIBEf0vSqMquH53bYI8Qfp5EBfoNWc3QAAAABJRU5ErkJggg==);
}

.rating-4:before {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwQAADsEBuJFr7QAAABh0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC41ZYUyZQAAAi1JREFUSEu1VE1rE1EUvc+s7D/pP5Au0oV0Jf0BgrjxX7h3azHJzCQgsclMyA9QBDddBBEKXRXzMQ1IVShIoUKaz5nkjffEOzidvJSmiQcO84b37rnn3ndnSJ/VjnS3dqD9yjYJsNa+lw3a1cOwXf0SdNwg6taiNMOO2wtalXIydgE4JIcHSAZBrNNit3F25l5en5b3RPImhq3KLldwYQpME5VMWtXjedUJsqERjC5Norv1HXbuQ2Tqu9PBadmftKsNBKNNPxqFp2hZ3IropLT1993LjprvHv86dl6Nm5XPfPZ8absQxIfqsVu4Enfez0bu2bzX4njSPJybMZH3vs18twA9kf6HqERbsyK95We0LocF9Ymf5iSjHL0IbdWLD08d0vHaxNBRX3WRjpIMHfrde6M+iOwirvOZvZlDlxDgqq76OeXdELDJu3qd2ed1ls8sONUWbZ+8fPhIXs3QJdphIX/ukivq5zJPZGtzgDvu53sk4VaFnPTA5HgtQDB5+WNL1f9LErgPbAqQBFOCPsv25oDLx4QgCV/wxdCiXdnaHCAKcSRBMiSVrfWBtoxtcgNbnSMBiLatffkInthUjO/ARCSR46uBgzGq+PSNwjHHBfWdn6tVgQAZS6NomviyJfRuGFoPnpuETOQKcPGrVYD/TlpoGXH5EnZ39POqYxJLE/+qe314g7xqmgSTxGQNLNqXkNXA8142icaE83uLAyyCEf2YFoZr9Pz2thD9AZAPBiYX77qjAAAAAElFTkSuQmCC);
}

.rating-5:before {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABh0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC41ZYUyZQAAAgJJREFUSEutVctKw0AUvdPiwv6JfyAu6kJcST9AEDf+hXsXCiq2maQFEcGCH6AIblyICIJLBbsRH1AQoUJt+kof3hNmMKaT2qY9cOgkmXvua+aWenm66hVovydpjhSw5vfpthTHnk23bZva/QL1w/RsUW3b4ihoOwBsUptdOIMg1mGxYew69PmdSy4ryb+oS1pk4bLJMExk0pLizs86QM8RDQQa6YRLtMCRlyDScajjWqLUknQNY5TpbTuxyuu0LgXvS/nPzIZFSx+7ya2mpBsu10tkuWDUlOJUR4uo/OhsKr7vzKz5tVYRt2zhB2MiZ/jMJbN4nVLSv8DLbp4OgwZxWbfEJf+anTSytKGbD3LZenptImf7oLPT9Bz6qh6IcyU7CDQMpwMCnFWllhXFPwJcuspeMsPrNO8ZiBS9uN+cnVePZgSbj4xq2eSK+jQ9IDqu5xmccKk8XEpTxBMBgsHmq9M2fSeIXo8NnJKhIyIu0HycEDjhBpcxCdSn6SE4XuAsckTEAcrStOkEYwEOQJRt4ubDuGVTPmp0g3Cito8HNsZRxdU3Cms2LfHKv+NlAYPgEPyPuNnKdDTUZWLdJGQiZ4DGj5cB5k5YKIpovjIbHbWceDKJhYlZFeviuTnxaBIMEifLlZRRJuMB/2QmUU1EHlscYBEc0YuwMKJGzYeXhegHFMKxtC7/Q98AAAAASUVORK5CYII=);
}

.search-text {
    max-width: none;
}

h1, h2, h3, h4, h5, h6 { font-family: "Merienda";font-weight: 700 }

.filter-button {
    margin: 10px 10px;
}

.pagination-align {
    margin: 20px 0
}

.dance-tag
{
    font-weight: bold;
}