<div class="row row-buffer">
    <button id='count' type=button class="btn btn-lg btn-primary btn-block">Count</button>
</div>
<div class="row row-buffer">
    <input id="MPM" class="calculator col-xs-6" value="0.0" />
    <div class="btn-group col-xs-6">
        @Html.Partial("_MeterChooser")
    </div>
</div>

@*
    <div class="row">
        @if (User.IsInRole("showDiagnostics"))
        {
            <p><span id='time'>0</span> elapsed millis</p>
            <p><span id='total'>0</span> clicks total</p>
            <p><span id='avg'>0</span> milliseconds per click</p>
            <p><span id='rate'>0</span> clicks per minute</p>
        }
    </div>
*@
<div class="row row-buffer">
    <div id="dances" class="list-group"></div>
</div>
<div id="help" class="row row-buffer">
    @Html.ActionLink("Why don't I see any Dances?", "CounterHelp", null, new { @class = "btn btn-default col-xs-12", role = "button" })
</div>

@if (ViewBag.ShowEpsilon == true)
{
    <div class="row row-buffer">
        <div class="col-xs-12" id="epsilon"></div>
    </div>
    <div class="row row-buffer">
        <span class="col-xs-6">LESS</span>
        <span class="col-xs-6" style="text-align:right">MORE</span>
    </div>
}

<div class="row row-buffer">
    <input id="Tempo" size="5" value="0.0" /> BPM
</div>

<div class="row row-buffer">
    <button id='reset' type=button class="btn-sm btn-block">Reset</button>
</div>

