<button type="button" id="mt" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
    4/4 MPM <span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
    <li><a id="mt1" href="#">BPM</a></li>
    <li><a id="mt2" href="#">2/4 MPM</a></li>
    <li><a id="mt3" href="#">3/4 MPM</a></li>
    <li><a id="mt4" href="#">4/4 MPM</a></li>
</ul>

