<div class="modal fade" id="playModal" tabindex="-1" role="dialog" aria-labelledby="playModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="playModalLabel"><span data-bind="text: title"></span> by <span data-bind="text: artist"></span></h4>
            </div>
            <div class="modal-body">
                <ul data-bind="foreach: purchase">
                    <li style="list-style: none; padding-bottom: 5px"><a href="#" class="play-link" data-bind="attr:{id:id + $parent.songId()}"><img data-bind="attr:{src:'/content/' + logo + '-logo.png', alt:title}" width="32" height="32" /><span style="padding-left: 8px" data-bind="text:help"></span></a></li>
                </ul>
                <div data-bind="if: sample">
                    @*<span data-bind="text:sample"></span>*@
                    <audio id="sample-player" controls>
                        <source type="audio/mpeg">
                        Your browswer does not support audio
                    </audio>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
