@model IEnumerable<m4dModels.PurchaseLink>

@foreach (m4dModels.PurchaseLink link in Model)
{
    string target = string.Empty;
    if (link.Target != null)
    {
        target = "target='" + link.Target + "'";
    }
    string image = link.Charm;
    if (ViewData.ContainsKey("UseLogo") && ViewBag.UseLogo)
    { 
        image = link.Logo;
    }

    <a href='@link.Link' @Html.Raw(target)><img src='@Url.Content("~/Content/" + image)' alt='@link.AltText' /></a>
}
