@model IEnumerable<TagCount>

@{
    var tags = Model as List<TagCount> ?? Model.ToList();
    var max = tags.Where(t => t.TagClass != "Dance").Max(t => t.Count);
    var inc = ((float)max) / 100;
    var valid = new[] { "music", "other", "style", "tempo" };
    var empty = 0;
    var skipped = 0;
    var shown = 0;
}

<div>
    @* TODO: Figure out if we want to do something logarithmic with the tag grouping, also trim tags with count < n - user controlled? *@
    @foreach (var titem in tags)
    {
        if (titem.Count == 0)
        {
            empty += 1;
            continue;
        }

        var tc = titem.TagClass?.ToLower();
        if (tc == null || !valid.Contains(tc))
        {
            skipped += 1;
            continue;
        }

        shown += 1;

        @TagHelpers.TagModalButton(titem, ViewBag.SongFilter, null, inc)
    }
    @if (User.IsInRole("showDiagnostics"))
    {
        <p>Max = @max Perc = @inc Shown = @shown Skipped = @skipped Empty = @empty</p>
    }
</div>

@Html.Partial("_filtermodal")



