@page
@model LoginModel

@{
    ViewData["HasIcons"] = true;
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
@if (Model.Provider == "Spotify")
{
    <div class="alert alert-primary" role="alert">
        You have been redirected to this page because you are asking music4dance to communicate with Spotify,
        but you aren't signed in through Spotify. Please click the "Sign in with Spotify" button below and accept
        the Spotify permissions requested (if asked). You should then be redirected back to the music4dance ation
        that you were attempting (e.g. create a Spotify playlist).
    </div>
}

<div class="row">
    <div class="col-md-5">
        <form id="account" method="post">
            <h4>Use a local account to log in.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.UserName"></label>
                <input asp-for="Input.UserName" class="form-control" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
            <div class="form-group">
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </p>
                <p>
                    <button type="submit" asp-page-handler="SendVerificationEmail" class="btn-link" style="padding:0px;margin:0px;border:0px">Resend email confirmation</button>
                </p>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <h4>Use another service to log in.</h4>
        <hr />
        <partial name="_ExternalLoginsListPartial" model="@new m4d.Areas.Identity.ViewModels.ExternalLoginListViewModel { ExternalLogins = Model.ExternalLogins, ReturnUrl = Model.ReturnUrl }" />
    </div>
    <div class="col-md-4">
        @{ string prefix = "When you have logged in"; }
        <partial name="_WhySignUp" model="@prefix" />
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/auth-buttons.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/auth-buttons.min.css" asp-append-version="true" />
    </environment>
}
