@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
@addTagHelper *, Owl.reCAPTCHA

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-5">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.UserName"></label>
                <input asp-for="Input.UserName" class="form-control" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmEmail"></label>
                <input asp-for="Input.ConfirmEmail" class="form-control" />
                <span asp-validation-for="Input.ConfirmEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            @if (Model.UseCaptcha)
            {
                <input id="Input_RecaptchaToken" name="Input.RecaptchaToken" type="hidden" />
                <div class="form-group">
                    <recaptcha-div-v2 callback="recaptchaCallback" />
                </div>
            }
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-3">
        <h4>Use another service to register.</h4>
        <hr />
        <partial name="_ExternalLoginsListPartial" model="@new m4d.Areas.Identity.ViewModels.ExternalLoginListViewModel { ExternalLogins = Model.ExternalLogins, ReturnUrl = Model.ReturnUrl }" />
    </div>
    <div class="col-md-4">
        @{ string prefix = "When you have registered";}
        <partial name="_WhySignUp" model="@prefix" />
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/auth-buttons.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/auth-buttons.min.css" asp-append-version="true" />
    </environment>
    @if (Model.UseCaptcha)
    {
        <recaptcha-script-v2 />
        <script>
            function recaptchaCallback(token) {
                document.getElementById("Input_RecaptchaToken").value = token;
            }
        </script>
    }
}
