
@{
    ViewBag.Title = "RestoreResults";
}

<h2>RestoreResults</h2>

File: @ViewBag.Key<br />
Size: @ViewBag.Size.ToString()<br />
Content Ttype: @ViewBag.ContentType<br />
<br/>

@foreach (string s in ViewBag.Lines)
{
    <p>@s</p>
}

