<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <ComponentSettings>
    <!-- Replace ComponentId with the application key you got from the Application Insights service. -->
    <ComponentId>e43d325f-f67d-4ce5-b6a8-3ce3b5d87cb6</ComponentId>
    <!-- "Auto" indicates developer mode when debugger is attached, "On" forces developer mode always, "Off" forces developer mode never. -->
    <DevelopmentMode enable="Auto">
      <!-- The analytics SDKs will use this Component Id when debugging -->
      <ComponentId>e43d325f-f67d-4ce5-b6a8-3ce3b5d87cb6</ComponentId>
      <PortalURI>https://thegray.visualstudio.com/</PortalURI>
      <DashboardId>86cc7b7f-c584-48aa-96e2-714a22900251</DashboardId>
    </DevelopmentMode>
    <AccountId>62584b65-d73c-4b8b-ac25-6a37e1a1de67</AccountId>
    <LicenseKey>DrCjRoBT92n+Rfs7K3aQDEfUpb6qEQseV8fyDia/f+9OWyXRLpUkueaKqngiQvOoxP7zfoUkLjTMvNmbuL9n2Q==</LicenseKey>
    <ComponentName>m4d</ComponentName>
  </ComponentSettings>
  <ServerAnalytics enabled="true">
    <DataUploadIntervalInMinutes>1</DataUploadIntervalInMinutes>
    <AutoFillClientPropertiesFromRequest>true</AutoFillClientPropertiesFromRequest>
    <CollectClientIPAddress>true</CollectClientIPAddress>
  </ServerAnalytics>
  <MonitoringSettings xmlns="http://schemas.microsoft.com/MicrosoftMonitoringAgent/2013/Apm/CollectionPlan" Version="1.0">
    <GeneralSettings>
      <!--Threshold (in milliseconds) for performance event to be fired-->
      <PerformanceThreshold>5000</PerformanceThreshold>
      <SensitivityThreshold>100</SensitivityThreshold>
      <Namespaces>[All Namespaces]</Namespaces>
      <EntryPoints />
      <Resources />
      <EnableAllExceptions>true</EnableAllExceptions>
      <ExceptionTracking>[All Namespaces]</ExceptionTracking>
      <ExceptionHandlers />
    </GeneralSettings>
    <MemoryEventSettings>
      <Triggers>
        <IISRecycleVirtualBytesPercentage enabled="true">90</IISRecycleVirtualBytesPercentage>
        <IISRecyclePrivateBytesPercentage enabled="true">90</IISRecyclePrivateBytesPercentage>
        <PrivateBytes enabled="true" unit="percent">50</PrivateBytes>
      </Triggers>
      <Snapshots>
        <UploadToAzure>true</UploadToAzure>
        <Baselines>
          <PrivateBytes enabled="true" unit="percent">25</PrivateBytes>
        </Baselines>
      </Snapshots>
    </MemoryEventSettings>
    <LogCollectionSettings>
      <EtwProvider />
      <EtwManifestFile />
    </LogCollectionSettings>
  </MonitoringSettings>
</ApplicationInsights>