@{
    ViewBag.Title = "Tag Cloud";
    ViewBag.Description = "Explore songs based on musical genre, tempo, style and other tags.";
}

<div id="app"></div>

@section Scripts {
    <partial name="_environmentWriter"/>
    <script asp-src-include="/client/js/chunk-vendors.*.js"></script>
    <script asp-src-include="/client/js/chunk-common.*.js"></script>
    <script asp-src-include="/client/js/tag-index.*.js"></script>
}