@{
    ViewBag.Title = "Tag Cloud";
    ViewBag.Description = "Explore songs based on musical genre, tempo, style and other tags.";
}

<div id="app"></div>

@section Scripts {
    <script src="/client/js/chunk-vendors.js"></script>
    <script src="/client/js/chunk-common.js"></script>
    <script src="/client/js/tag-index.js"></script>
}