@using ViewModels

@model string

@{
    ViewBag.Title = "music4dance search results";
    ViewBag.Description = "Search results including songs, general pages, blog entries and help";
    var converterModel = new ObjectConverterModel
    {
        Name = "model",
        Model = $"'{Model}'"
    };
}

<div id="app"></div>

@section Scripts {
    <partial name="_environmentWriter"/>
    <partial name="_jsonCamelCase" model="@converterModel" />
    <script asp-src-include="/client/js/chunk-vendors.*.js"></script>
    <script asp-src-include="/client/js/chunk-common.*.js"></script>
    <script asp-src-include="/client/js/search.*.js"></script>
}