@{
    ViewBag.Title = "Welcome to music4dance";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>Welcome to the music4dance community.  Just one more step before you can explore all of the ways you can <a href="https://music4dance.blog/music4dance-help/#customization">customize</a> your music4dance.net.</p>
    <p>Please check your email and confirm your account, your email must be confirmed before you can sign in.</p>
    <p>If you don't see the email right away, check your junk or spam folder to see if it ended up in there instead.</p>
    <p>If you still don't recieve email, please contact us directly at <a href="mailto:info@music4dance.net">info@music4dance.net</a></p>
</div>



