@model m4dModels.DanceStats;

<ul>
    <li>DanceId = @Model.DanceId</li>
    <li>DanceName =@Model.DanceName</li>
    <li>SeoName =@Model.SeoName</li>
    <li>BlogTag =@Model.BlogTag</li>
    <li>SongCount =@Model.SongCount</li>
    <li>SongCountExplicit =@Model.SongCountExplicit</li>
    <li>SongCountImplicit =@Model.SongCountImplicit</li>
    <li>MaxWeight =@Model.MaxWeight</li>
    <li>HasLinks = @(Model.DanceLinks != null)</li>
</ul>