@using m4d.ViewModels
@model DanceLibrary.CompetitionGroup

@{
    ViewBag.Title = "Ballroom Competition Categories";
    ViewBag.Description = "An overview of competitive ballroom categories along with tempo ranges and song lists.";
    var converterModel = new ObjectConverterModel
    {
        Name = "model",
        Model = Model
    };
}

<div id="app"></div>

@section Scripts {
    <partial name="_jsonCamelCase" model="@converterModel"/>
    <script asp-src-include="/client/js/chunk-vendors.*.js"></script>
    <script asp-src-include="/client/js/chunk-common.*.js"></script>
    <script asp-src-include="/client/js/ballroom-index.*.js"></script>
}