@using ViewModels

@model m4d.Controllers.CompetitionGroupModel

@{
    ViewBag.Title = Model.CurrentCategoryName;
    ViewBag.Description = "A description of the competition dance category " + 
                          Model.CurrentCategoryName + " along with tempo ranges and song lists.";
    var converterModel = new ObjectConverterModel {Name = "model", Model = Model};
}

<div id="app"></div>

@section Scripts {
    <partial name="_jsonCamelCase" model="@converterModel"/>
    <script src="/client/js/chunk-vendors.js"></script>
    <script src="/client/js/chunk-common.js"></script>
    <script src="/client/js/competition-category.js"></script>
}