@model m4d.ViewModels.DanceModel
@using m4d.ViewModels

@{
    ViewBag.Title = $"music4dance catalog: {Model.DanceName} Page";
    ViewBag.Description = Model.DanceName + " Information, Top Ten List, and Resources.";
    var converterModel = new ObjectConverterModel
    {
        Name = "model",
        Model = Model
    };
}

<div id="app"></div>

@section Scripts {
    <partial name="_environmentWriter"/>
    <partial name="_jsonCamelCase" model="@converterModel" />
    <script asp-src-include="/client/js/chunk-vendors.*.js"></script>
    <script asp-src-include="/client/js/chunk-common.*.js"></script>
    <script asp-src-include="/client/js/dance-details.*.js"></script>
}

@section Styles {
    <environment exclude="Development">
        <link rel="stylesheet" href="/client/css/chunk-common.css" asp-append-version="true" />
    </environment>
}