@{
    ViewBag.Title = "Dance Style Index";
    ViewBag.Description = "A list of partner dancing styles, including Ballroom, Salsa, Swing, and Tango.";
}

<div id="app"></div>

@section Scripts {
    <partial name="_environmentWriter"/>
    <script asp-src-include="/client/js/chunk-vendors.*.js"></script>
    <script asp-src-include="/client/js/chunk-common.*.js"></script>
    <script asp-src-include="/client/js/dance-index.*.js"></script>
}