@using m4d.ViewModels
@model m4dModels.TagMatrix

@{
    Layout = "/Views/Shared/_bs4-Layout.cshtml";

    ViewBag.Title = "Wedding Dance Music";
    ViewBag.Description = "Help finding wedding dance music: First Dance, Mother/Son, Father/Daughter - Foxtrot, Waltz, Swing and others.";

    var converterModel = new ObjectConverterModel { Name = "model", Model = Model };
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Music4Dance</a></li>
        <li class="breadcrumb-item"><a href="/dances">Dances</a></li>
        <li class="breadcrumb-item active" aria-current="page">Wedding Dance Music</li>
    </ol>
</nav>

<div id="app"></div>

@section Scripts {
    <partial name="_jsonCamelCase" model="@converterModel" />
    <script src="/client/js/chunk-vendors.js"></script>
    <script src="/client/js/chunk-common.js"></script>
    <script src="/client/js/wedding-dance-music.js"></script>
}
